<tr>
    <td class="header" colspan=16 width=50%>Тип<br>%1</td>
    <td class="header" colspan=16 width=50%>Размер<br>%2</td>
</tr>
<tr>
    <td colspan=32 width=100%>Сек<br>%3 (%4)</td>
</tr>
<tr>
    <td colspan=32 width=100%>Мсек<br>%5</td>
</tr>
<tr>
    <td class="footer" colspan=16 width=50%></td>
    <td class="footer" colspan=16 width=50%>Контроль<br>%6</td>
</tr>
