<tr>
    <td class="header" colspan=16 width=50%>Тип<br>%1</td>
    <td class="header" colspan=16 width=50%>Размер<br>%2</td>
</tr>
<tr>
    <td colspan=16 width=50%>РПКН1<br>%3</td>
    <td colspan=16 width=50%>ТП1<br>%4</td>
</tr>
<tr>
    <td colspan=16 width=50%>ТЛ1.2<br>%5</td>
    <td colspan=16 width=50%>ТЛ1.1<br>%6</td>
</tr>
<tr>
    <td colspan=16 width=50%>Канал1.2<br>%7</td>
    <td colspan=16 width=50%>Канал1.1<br>%8</td>
</tr>
<tr>
    <td colspan=16 width=50%>РПКН2<br>%9</td>
    <td colspan=16 width=50%>ТП2<br>%10</td>
</tr>
<tr>
    <td colspan=16 width=50%>ТЛ2.2<br>%11</td>
    <td colspan=16 width=50%>ТЛ2.1<br>%12</td>
</tr>
<tr>
    <td colspan=16 width=50%>Канал2.2<br>%13</td>
    <td colspan=16 width=50%>Канал2.1<br>%14</td>
</tr>
<tr>
    <td colspan=16 width=50%>РПКН3<br>%15</td>
    <td colspan=16 width=50%>ТП3<br>%16</td>
</tr>
<tr>
    <td colspan=16 width=50%>ТЛ3.2<br>%17</td>
    <td colspan=16 width=50%>ТЛ3.1<br>%18</td>
</tr>
<tr>
    <td colspan=16 width=50%>Канал3.2<br>%19</td>
    <td colspan=16 width=50%>Канал3.1<br>%20</td>
</tr>
<tr>
    <td class="footer" colspan=16 width=50%></td>
    <td class="footer" colspan=16 width=50%>Контроль<br>%21</td>
</tr>
