<tr>
    <td class="header" colspan=16 width=50%>Тип<br>%1</td>
    <td class="header" colspan=16 width=50%>Размер<br>%2</td>
</tr>
<tr>
    <td colspan=5 width=15.625%></td>
    <td width=3.125%>УМ4<br>ЭКВ<br>%3</td>
    <td width=3.125%>УМ4<br>ВЫК<br>%4</td>
    <td width=3.125%>УМ4<br>ВКЛ<br>%5</td>
    <td colspan=5 width=15.625%></td>
    <td width=3.125%>УМ3<br>ЭКВ<br>%6</td>
    <td width=3.125%>УМ3<br>ВЫК<br>%7</td>
    <td width=3.125%>УМ3<br>ВКЛ<br>%8</td>
    <td colspan=5 width=15.625%></td>
    <td width=3.125%>УМ2<br>ЭКВ<br>%9</td>
    <td width=3.125%>УМ2<br>ВЫК<br>%10</td>
    <td width=3.125%>УМ2<br>ВКЛ<br>%11</td>
    <td colspan=5 width=15.625%></td>
    <td width=3.125%>УМ1<br>ЭКВ<br>%12</td>
    <td width=3.125%>УМ1<br>ВЫК<br>%13</td>
    <td width=3.125%>УМ1<br>ВКЛ<br>%14</td>
</tr>
<tr>
    <td class="footer" colspan=16 width=50%></td>
    <td class="footer" colspan=16 width=50%>Контроль<br>%15</td>
</tr>
