<tr>
    <td class="header" colspan=16 width=50%>Тип<br>%1</td>
    <td class="header" colspan=16 width=50%>Размер<br>%2</td>
</tr>
<tr>
    <td colspan=16 width=50%>УМ<br>%3</td>
    <td colspan=7 width=21.875%></td>
    <td width=3.125%>Вкл<br>%4</td>
    <td colspan=2 width=6.25%></td>
    <td colspan=6 width=18.75%>НПБ<br>%5</td>
</tr>
<tr>
    <td colspan=4 width=12.5%></td>
    <td colspan=12 width=37.5%>Строб по дальности, м<br>%6</td>
    <td colspan=4 width=12.5%></td>
    <td colspan=12 width=37.5%>Дальность начала, м<br>%7</td>
</tr>
<tr>
    <td colspan=4 width=12.5%></td>
    <td colspan=12 width=37.5%>Строб по азимуту, град<br>%8</td>
    <td colspan=4 width=12.5%></td>
    <td colspan=12 width=37.5%>Азимут начала, град<br>%9</td>
</tr>
<tr>
    <td class="footer" colspan=16 width=50%></td>
    <td class="footer" colspan=16 width=50%>Контроль<br>%10</td>
</tr>
