<tr>
    <td class="header" colspan=16 width=50%>Тип<br>%1</td>
    <td class="header" colspan=16 width=50%>Размер<br>%2</td>
</tr>
<tr>
    <td colspan=32 width=100%>Азимут1, гр<br>%3</td>
</tr>
<tr>
    <td colspan=32 width=100%>Дальность1, м<br>%4</td>
</tr>
<tr>
    <td colspan=32 width=100%>Азимут2, гр<br>%5</td>
</tr>
<tr>
    <td colspan=32 width=100%>Дальность2, м<br>%6</td>
</tr>
<tr>
    <td colspan=32 width=100%>Азимут3, гр<br>%7</td>
</tr>
<tr>
    <td colspan=32 width=100%>Дальность3, м<br>%8</td>
</tr>
<tr>
    <td colspan=32 width=100%>Азимут4, гр<br>%9</td>
</tr>
<tr>
    <td colspan=32 width=100%>Дальность4, м<br>%10</td>
</tr>

<tr>
    <td class="footer" colspan=16 width=50%></td>
    <td class="footer" colspan=16 width=50%>Контроль<br>%11</td>
</tr>
