<tr>
    <td class="header" colspan=16 width=50%>Тип<br>%1</td>
    <td class="header" colspan=16 width=50%>Размер<br>%2</td>
</tr>
    <td colspan=8 width=25%>КОШ<br>%3</td>
    <td colspan=24 width=75%></td>
<tr>
    <td colspan=4 width=12.5%>Пр<br>ВУМ<br>%4</td>
    <td width=3.125%>Пр<br>СЗ<br>%5</td>
    <td width=3.125%>Пр<br>СП<br>%6</td>
    <td colspan=2 width=6.25%>Пр<br>СО<br>%7</td>
    <td colspan=4 width=12.5%>ВУМ<br>%8</td>
    <td width=3.125%>СЗ<br>%9</td>
    <td width=3.125%>СП<br>%10</td>
    <td colspan=2 width=6.25%>СО<br>%11</td>
    <td colspan=3 width=9.375%></td>
    <td width=3.125%>Пр<br>КОД<br>%12</td>
    <td width=3.125%>Пр<br>ИЗЛ<br>%13</td>
    <td width=3.125%>Пр<br>РЕВ<br>%14</td>
    <td width=3.125%>Пр<br>ВР<br>%15</td>
    <td width=3.125%>Пр<br>СК<br>%1</td>
    <td colspan=2 width=6.25%></td>
    <td colspan=2 width=6.25%>КОД<br>%17</td>
    <td width=3.125%>ИЗЛ<br>%18</td>
    <td width=3.125%>РЕВ<br>%19</td>
    <td width=3.125%>ВР<br>%20</td>
    <td width=3.125%>СК<br>%21</td>
</tr>
<tr>
    <td class="footer" colspan=32 width=100%>Контроль<br>%22</td>
</tr>
