<tr>
    <td class="header" colspan=32 width=100%>%1</td>
</tr>
<tr>
    <td colspan=16 width=50%>Тип: %2</td>
    <td colspan=16 width=50%>Размер: %3</td>
</tr>
<tr>
    <td colspan=32 width=100%>Время начала: %4</td>
</tr>
<tr>
    <td colspan=32 width=100%>Время окончания: %5</td>
</tr>
<tr>
    <td class="footer" colspan=16 width=50%>Конец данных: %6</td>
    <td colspan=8 width=25%>Команада: %7</td>
    <td colspan=8 width=25%>Скорость: %8</td>
</tr>
