<tr>
    <td class="header" colspan=32 width=100%>%1</td>
</tr>
<tr>
    <td colspan=16 width=50%>Тип: %2</td>
    <td colspan=16 width=50%>Размер: %3</td>
</tr>
<tr>
    <td colspan=32 width=100%>Обзор: %4</td>
</tr>
<tr>
    <td colspan=16 width=50%>Направление: %5</td>
    <td colspan=16 width=50%>Количество отметок: %6</td>
</tr>
<tr>
    <td class="footer" colspan=32 width=100%>Конец данных: %7</td>
</tr>
