<tr>
    <td class="header" colspan=16 width=50%>Тип<br>%1</td>
    <td class="header" colspan=16 width=50%>Размер<br>%2</td>
</tr>
<tr>
    <td class="footer" colspan=16 width=50%>Контроль<br>%3</td>
    <td colspan=11 width=34.375%></td>
    <td width=3.125%>Дн<br>%4</td>
    <td colspan=2 width=6.25%>Реж<br>%5</td>
    <td colspan=2 width=6.25%>Напр<br>%6</td>
</tr>
