<tr>
    <td class="header" colspan=16 width=50%>Тип<br>%1</td>
    <td class="header" colspan=16 width=50%>Размер<br>%2</td>
</tr>
<tr>
    <td colspan=32 width=100%>Высота, м<br>%3</td>
</tr>
<tr>
    <td colspan=32 width=100%>Север, м<br>%4</td>
</tr>
<tr>
    <td width=3.125%>гео<br>%5</td>
    <td width=3.125%></td>
    <td colspan=6 width=18.75%>№ зоны<br>%6</td>
    <td colspan=24 width=75%>Восток, м<br>%7</td>
</tr>
<tr>
    <td colspan=32 width=100%>Широта, град<br>%8</td>
</tr>
<tr>
    <td colspan=32 width=100%>Долгота, град<br>%9</td>
</tr>
<tr>
    <td colspan=12 width=37.5%>Поправка по азимуту, град<br>%10</td>
    <td colspan=4 width=12.5%></td>
    <td class="footer" colspan=16 width=50%>Контроль<br>%11</td>
</tr>
