<tr>
    <td class="header" colspan=16 width=100%>%1</td>
</tr>
<tr>
    <td colspan=16 width=100%>Размер: %2</td>
</tr>
<tr>
    <td colspan=16 width=100%>Тип: %3</td>
</tr>
<tr>
    <td colspan=16 width=100%>Трассы на автозахвате: %4</td>
</tr>
<tr>
    <td colspan=16 width=100%>Трассы на автосопровождении: %5</td>
</tr>
<tr>
    <td colspan=16 width=100%></td>
</tr>
<tr>
    <td colspan=16 width=100%>Координатные отметки: %6</td>
</tr>
<tr>
    <td colspan=16 width=100%></td>
</tr>
<tr>
    <td colspan=16 width=100%></td>
</tr>
<tr>
    <td colspan=16 width=100%></td>
</tr>
<tr>
    <td colspan=16 width=100%></td>
</tr>
<tr>
    <td colspan=16 width=100%></td>
</tr>
<tr>
    <td colspan=16 width=100%></td>
</tr>
<tr>
    <td colspan=8 width=50%></td>
    <td colspan=8 width=50%>Занято HDD: %7</td>
</tr>
<tr>
    <td colspan=16 width=100%>Отметки в секторе 1: %8</td>
</tr>
<tr>
    <td colspan=16 width=100%>Отметки в секторе 2: %9</td>
</tr>
<tr>
    <td colspan=16 width=100%>Отметки в секторе 3: %10</td>
</tr>
<tr>
    <td colspan=16 width=100%>Отметки в секторе 4: %11</td>
</tr>
<tr>
    <td class="footer" colspan=16 width=100%>Конец данных: %12</td>
</tr>
