<tr>
    <td class="comment" colspan=16 width=100%>ЦОС%1</td>
</tr>
<tr>
    <td colspan=3 width=9.375%></td>
    <td width=6.25%>БКУ<br>%2</td>
    <td width=12.5% colspan=2>ФЗС2<br>%3</td>
    <td width=12.5% colspan=2>ФЗС1<br>%4</td>
    <td width=6.25%>ИЗЛ2<br>%5</td>
    <td width=6.25%>ИЗЛ1<br>%6</td>
    <td width=6.25%>КЗС2<br>%7</td>
    <td width=6.25%>КЗС1<br>%8</td>
    <td width=6.25%>АНТ<br>%9</td>
    <td width=6.25%>ПЕП<br>%10</td>
    <td width=6.25%>РЕГ<br>%11</td>
    <td width=6.25%>ПИТ<br>%12</td>
</tr>
