<tr>
    <td class="header" colspan=16 width=100%>РК<br>%1</td>
</tr>
<tr>
    <td class="header" colspan=8 width=50%></td>
    <td class="header" colspan=8 width=50%>ТК<br>%2</td>
</tr>
<tr>
    <td class="header" colspan=16 width=100%>ID<br>%3</td>
</tr>
%4
<tr>
    <td class="footer" colspan=16 width=100%>Контроль<br>%5</td>
</tr>
