<tr>
    <td class="header" colspan=16 width=50%>Тип<br>%1</td>
    <td class="header" colspan=16 width=50%>Размер<br>%2</td>
</tr>
<tr>
    <td colspan=17 width=53.125%></td>
    <td width=3.125%>КЦ<br>%3</td>
    <td colspan=3 width=9.375%>ИО<br>VII<br>%4</td>
    <td colspan=4 width=12.5%>ИО3<br>VII<br>%5</td>
    <td colspan=3 width=9.375%>ОО<br>VII<br>%6</td>
    <td colspan=3 width=9.375%></td>
    <td width=3.125%>ВВ<br>%7</td>
</tr>
<tr>
    <td class="footer" colspan=32 width=100%>Контроль<br>%8</td>
</tr>
