<tr>
    <td class="header" colspan=32 width=100%>%1</td>
</tr>
<tr>
    <td colspan=16 width=50%>Тип: %2</td>
    <td colspan=16 width=50%>Размер: %3</td>
</tr>
<tr>
    <td colspan=4 width=12.5%>ВУМ<br>%4</td>
    <td colspan=1 width=3.125%>ЗГ<br>%5</td>
    <td colspan=1 width=3.125%>При<br>ем<br>%6</td>
    <td colspan=2 width=6.25%>КО<br>%7</td>
    <td colspan=2 width=6.25%>II<br>КО<br>%8</td>
    <td colspan=2 width=6.25%>I<br>КО<br>%9</td>
    <td colspan=1 width=3.125%>ДУII<br>КО<br>%10</td>
    <td colspan=1 width=3.125%>ДУI<br>КО<br>%11</td>
    <td colspan=2 width=6.25%>Код<br>КО<br>%12</td>
    <td colspan=1 width=3.125%>ПДУ<br>%13</td>
    <td colspan=1 width=3.125%>Зас2<br>АВ<br>%14</td>
    <td colspan=1 width=3.125%>Зас1<br>АВ<br>%15</td>
    <td colspan=1 width=3.125%>Бл<br>ОПУ<br>%16</td>
    <td colspan=1 width=3.125%>Кон<br>АВ<br>%17</td>
    <td colspan=1 width=3.125%>Eth<br>АВ<br>%18</td>
    <td colspan=1 width=3.125%>САГП<br>АВ<br>%19</td>
    <td colspan=1 width=3.125%>Д2П<br>П041<br>ав<br>%20</td>
    <td colspan=1 width=3.125%>+5В2<br>%21</td>
    <td colspan=1 width=3.125%>+5В1<br>%22</td>
    <td colspan=1 width=3.125%>Зон<br>охр2<br>%23</td>
    <td colspan=1 width=3.125%>Зон<br>охр1<br>%24</td>
    <td colspan=1 width=3.125%>РКС<br>АВ<br>%25</td>
    <td colspan=1 width=3.125%>Д2ЕН<br>279-2<br>АВ<br>%26</td>
    <td colspan=1 width=3.125%>Д2ЕН<br>279-1<br>АВ<br>%27</td>
    <td colspan=1 width=3.125%>ПОЖ<br>%28</td>
</tr>
<tr>
    <td colspan=1 width=3.125%>АСКУ<br>НУ<br>%29</td>
    <td colspan=1 width=3.125%>СВ<br>КР-2<br>АВ<br>%30</td>
    <td colspan=1 width=3.125%></td>
    <td colspan=1 width=3.125%>ППАI<br>вык<br>%31</td>
    <td colspan=1 width=3.125%>ППАII<br>вык<br>%32</td>
    <td colspan=1 width=3.125%>27В<br>БУФ<br>вык<br>%33</td>
    <td colspan=1 width=3.125%>Д2ЕН<br>257<br>АВ<br>%34</td>
    <td colspan=1 width=3.125%>Д2ЕН<br>258-1<br>АВ<br>%35</td>
    <td colspan=1 width=3.125%>Д2ЕН<br>258-2<br>АВ<br>%36</td>
    <td colspan=1 width=3.125%>Д2ЕН<br>258-3<br>АВ<br>%37</td>
    <td colspan=1 width=3.125%>Д2ЕН<br>258-4<br>АВ<br>%38</td>
    <td colspan=1 width=3.125%>Д1ЕН<br>003-1<br>АВ<br>%39</td>
    <td colspan=1 width=3.125%>Д1ЕН<br>003-2<br>АВ<br>%40</td>
    <td colspan=1 width=3.125%>АО<br>вык<br>%41</td>
    <td colspan=1 width=3.125%>KVM<br>вык<br>%42</td>
    <td colspan=1 width=3.125%>СВ<br>вык<br>%43</td>
    <td colspan=1 width=3.125%>ВЕН<br>1-4<br>вык<br>%44</td>
    <td colspan=1 width=3.125%>ВЕН<br>5-8<br>вык<br>%45</td>
    <td colspan=1 width=3.125%>ВЕН<br>9,10<br>вык<br>%46</td>
    <td colspan=1 width=3.125%>ВУМ<br>1,2<br>вык<br>%47</td>
    <td colspan=1 width=3.125%>ВУМ<br>3,4<br>вык<br>%48</td>
    <td colspan=1 width=3.125%>ВУМ<br>5,6<br>вык<br>%49</td>
    <td colspan=1 width=3.125%>ВУМ<br>7,8<br>вык<br>%50</td>
    <td colspan=1 width=3.125%>6110<br>НУ<br>%51</td>
    <td colspan=1 width=3.125%>6110<br>нет<br>КП<br>%52</td>
    <td colspan=1 width=3.125%>6110<br>нет<br>КД<br>%53</td>
    <td colspan=1 width=3.125%>KIR<br>1A<br>НУ<br>%54</td>
    <td colspan=1 width=3.125%>KIR<br>1A<br>ШУМ<br>%55</td>
    <td colspan=1 width=3.125%>KIR<br>1A<br>ОБН<br>%56</td>
    <td colspan=1 width=3.125%>СВЧ<br>Ω<br>АВ<br>%57</td>
    <td colspan=1 width=3.125%>СВЧ<br>Δ<br>АВ<br>%58</td>
    <td colspan=1 width=3.125%>СВЧ<br>Σ<br>АВ<br>%59</td>
</tr>
<tr>
    <td colspan=3 width=9.375%></td>
    <td colspan=2 width=6.25%>Код<br>6110<br>%60</td>
    <td colspan=1 width=3.125%>ТЕМ<br>%61</td>
    <td colspan=1 width=3.125%>ЗГ2<br>АВ<br>%62</td>
    <td colspan=1 width=3.125%>ЗГ1<br>АВ<br>%63</td>
    <td colspan=1 width=3.125%>ВУМ8<br>АВ<br>%64</td>
    <td colspan=1 width=3.125%>ВУМ7<br>АВ<br>%65</td>
    <td colspan=1 width=3.125%>ВУМ6<br>АВ<br>%66</td>
    <td colspan=1 width=3.125%>ВУМ5<br>АВ<br>%67</td>
    <td colspan=1 width=3.125%>ВУМ4<br>АВ<br>%68</td>
    <td colspan=1 width=3.125%>ВУМ3<br>АВ<br>%69</td>
    <td colspan=1 width=3.125%>ВУМ2<br>АВ<br>%70</td>
    <td colspan=1 width=3.125%>ВУМ1<br>АВ<br>%71</td>
    <td colspan=2 width=6.25%></td>
    <td colspan=1 width=3.125%>ADM2<br>АВ<br>%72</td>
    <td colspan=1 width=3.125%>ADM1<br>АВ<br>%73</td>
    <td colspan=1 width=3.125%>HOST<br>АВ<br>%74</td>
    <td colspan=1 width=3.125%>DSP3<br>АВ<br>%75</td>
    <td colspan=1 width=3.125%>DSP2<br>АВ<br>%76</td>
    <td colspan=1 width=3.125%>DSP1<br>АВ<br>%77</td>
    <td colspan=1 width=3.125%>Прм2<br>АВ<br>%78</td>
    <td colspan=1 width=3.125%>Прм1<br>АВ<br>%79</td>
    <td colspan=2 width=6.25%>С<br>%80</td>
    <td colspan=1 width=3.125%>ИЗЛ<br>%81</td>
    <td colspan=1 width=3.125%>РЕВ<br>%82</td>
    <td colspan=1 width=3.125%>ВР<br>%83</td>
    <td colspan=1 width=3.125%>СК<br>%84</td>
</tr>
<tr>
    <td class="footer" colspan=32 width=100%>Конец данных: %85</td>
</tr>
