<tr>
    <td class="header" colspan=32 width=100%>%1</td>
</tr>
<tr>
    <td colspan=16 width=50%>Тип: %2</td>
    <td colspan=16 width=50%>Размер: %3</td>
</tr>
<tr>
    <td colspan=4 width=12.5%></td>
    <td colspan=12 width=37.5%>СЗИ1 угол: %4 град</td>
    <td colspan=4 width=12.5%></td>
    <td colspan=12 width=37.5%>СЗИ1 начало: %5 град</td>
</tr>
<tr>
    <td colspan=4 width=12.5%></td>
    <td colspan=12 width=37.5%>СЗИ2 угол: %6 град</td>
    <td colspan=4 width=12.5%></td>
    <td colspan=12 width=37.5%>СЗИ2 начало: %7 град</td>
</tr>
<tr>
    <td colspan=6 width=18.75%></td>
    <td colspan=2 width=6.25%>ТЗ<br>%8</td>
    <td colspan=5 width=15.625%></td>
    <td width=3.125%>Наз<br>емн<br>%9</td>
    <td width=3.125%>РКЦ<br>%10</td>
    <td width=3.125%>Дос<br>опр<br>%11</td>
    <td colspan=6 width=18.75%></td>
    <td width=3.125%>Изл<br>%12</td>
    <td width=3.125%>Вкл<br>изл<br>%13</td>
    <td colspan=2 width=6.25%></td>
    <td width=3.125%>АФК<br>%14</td>
    <td width=3.125%>БГ<br>%15</td>
    <td width=3.125%>СЗ<br>%16</td>
    <td width=3.125%>Ме<br>рц<br>%17</td>
    <td width=3.125%>СЗИ<br>2<br>%18</td>
    <td width=3.125%>СЗИ<br>1<br>%19</td>
</tr>
<tr>
    <td colspan=32 width=100%>Высота: %20 м</td>
</tr>
<tr>
    <td class="footer" colspan=32 width=100%>Конец данных: %21</td>
</tr>
