<tr>
    <td class="comment" colspan=32 width=100%>Режим%1, ЦОС%2</td>
</tr>
<tr>
    <td colspan=32 width=100%>Азимут, гр<br>%3</td>
</tr>
<tr>
    <td colspan=32 width=100%>Дальность, м<br>%4</td>
</tr>
<tr>
    <td colspan=32 width=100%>Скорость, м/с<br>%5</td>
</tr>
<tr>
    <td colspan=32 width=100%>Угол места, гр<br>%6</td>
</tr>
