<tr>
    <td class="comment" colspan=32 width=100%>ЦОС%1</td>
</tr>
<tr>
    <td colspan=14 width=43.75%></td>
    <td width=3.125%>В<br>%2</td>
    <td width=3.125%>М<br>%3</td>
    <td colspan=6 width=18.75%></td>
    <td colspan=5 width=15.625%>Темп.Дат.<br>%4</td>
    <td colspan=2 width=6.25%>ОСУ<br>%5</td>
    <td colspan=2 width=6.25%>УТ<br>%6</td>
    <td width=3.125%>НУ<br>%7</td>
</tr>
%8
%9
