<tr>
    <td class="comment" colspan=32 width=100%>Передатчик.Канал%1</td>
</tr>
<tr>
    <td width=3.125%>%33</td>
    <td width=3.125%>%32</td>
    <td width=3.125%>%31</td>
    <td width=3.125%>%30</td>
    <td width=3.125%>%29</td>
    <td width=3.125%>%28</td>
    <td width=3.125%>%27</td>
    <td width=3.125%>%26</td>
    <td width=3.125%>%25</td>
    <td width=3.125%>%24</td>
    <td width=3.125%>%23</td>
    <td width=3.125%>%22</td>
    <td width=3.125%>%21</td>
    <td width=3.125%>%20</td>
    <td width=3.125%>%19</td>
    <td width=3.125%>%18</td>
    <td width=3.125%>%17</td>
    <td width=3.125%>%16</td>
    <td width=3.125%>%15</td>
    <td width=3.125%>%14</td>
    <td width=3.125%>%13</td>
    <td width=3.125%>%12</td>
    <td width=3.125%>%11</td>
    <td width=3.125%>%10</td>
    <td width=3.125%>%9</td>
    <td width=3.125%>%8</td>
    <td width=3.125%>%7</td>
    <td width=3.125%>%6</td>
    <td width=3.125%>%5</td>
    <td width=3.125%>%4</td>
    <td width=3.125%>%3</td>
    <td width=3.125%>%2</td>
</tr>
