<tr>
    <td colspan=16 width=50%>%1</td>
    <td colspan=16 width=50%>%2</td>
</tr>
<tr>
    <td colspan=16 width=50%>%3</td>
    <td colspan=16 width=50%>%4</td>
</tr>
<tr>
    <td colspan=16 width=50%>%5</td>
    <td colspan=16 width=50%>%6</td>
</tr>
<tr>
    <td colspan=16 width=50%>%7</td>
    <td colspan=16 width=50%>%8</td>
</tr>
