<tr>
    <td class="header" colspan=16 width=50%>Тип<br>%1</td>
    <td class="header" colspan=16 width=50%>Размер<br>%2</td>
</tr>
<tr>
    <td colspan=28 width=87.5%></td>
    <td width=3.125%>Т<br>%4</td>
    <td width=3.125%>ЗИ<br>%5</td>
    <td width=3.125%>Р<br>%6</td>
    <td width=3.125%>ПРК<br>%7</td>
</tr>
<tr>
    <td class="comment" colspan=32 width=100%>Разрешенные частоты</td>
</tr>
%8
<tr>
    <td class="comment" colspan=32 width=100%>Назначенные частоты</td>
</tr>
%9
